* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  color: hsl(0deg, 0%, 0%);
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 0;
}

.intro-chunk {
  max-width: 470px;
}

.intro-chunk,
.card {
  padding: 0 28px;
}

.card {
  background: hsl(0deg, 0%, 100%);
  padding-top: 8px;
  padding-bottom: 28px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header,
.card {
  border: solid hsl(0deg, 0%, 60%);
  border-width: 0 0 8px;
}

main {
  background: hsl(0deg, 0%, 40%);
}

p {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 800;
  margin: 0 0 48px;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  max-width: fit-content;
  background-color: hsl(45deg, 100%, 50%);
  border: solid hsl(45deg, 100%, 40%);
  border-width: 0 0 8px;
  padding: 12px 36px;
  margin: 0 0 0 -36px;
}
